<body onload="doPentaGame();">
  <a id="downloadAnchor" style="display: none"></a>
  <div id="pentacanvascontainer" class="pentacanvascontainer">
    <canvas id="pentacanvas_click" width="601" height="601"></canvas>
    <canvas id="pentacanvas_board" width="601" height="601"></canvas>
    <canvas id="pentacanvas_play" width="601" height="601"></canvas>
  </div>
  <div id="pentapanel">
    <form>
      <p>
        <button type="button" id="startGame" onclick="startPentaGame()">
          Start
        </button>
        <button type="button" id="stopGame" onclick="stopPentaGame()" disabled>
          Stop
        </button>
        <button
          type="button"
          id="saveLog"
          onclick="pentaGame.log.sendToBrowser();"
        >
          Save
        </button>
      </p>
      <p id="StatusLine">Maybe you want to start a game...</p>
      <p>
        <label for="verdreht">
          Verdreht:
          <input
            id="verdreht"
            type="number"
            min="-1"
            max="360"
            step="1"
            value="0"
            oninput="onRotateBoard(this)"
          />
          °
        </label>
      </p>
      <p>
        <label for="spielerzahl">Spielerzahl:</label>
        <select id="spielerZahl" name="spielerzahl">
          <option selected>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </p>
      <p>
        <label for="regelsatz">Regelsatz:</label>
        <select id="regelSatz" name="regelsatz" disabled>
          <option selected>None</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </p>
      <p>
        <label for="farbschema">Farbschema:</label>
        <select id="farbSchema" name="farbschema">
          <option selected>builtin</option>
          <option>180</option>
          <option>120</option>
        </select>
      </p>
    </form>
    <ol id="gameLog"></ol>
  </div>
</body>
