{% extends "base.html" %} {% block title %} Creating Game {% endblock %} {%
block content %}

<form method="POST">
  <!-- Name input -->
  <div class="form-group">
    <div class="input-name mb-3">
      <input
        type="text"
        name="name"
        id="name"
        value="{{ name }}"
        placeholder=" Name"
        aria-placeholder="Game Name"
        class="form-control id {% if name_error %}is-invalid{% endif %}"
      />
      <span
        class="underline-animation"
        style="max-width: 40rem !important;"
      ></span>
    </div>
  </div>

  <!-- Public checkbox -->
  <div class="form-outline border-dark mb-4">
    <div
      class="form-check"
      data-toggle="tooltip"
      title="Other players can join freely"
    >
      <input
        class="form-check-input"
        type="checkbox"
        value="on"
        data-placement="right"
        id="public"
        name="public"
        checked
      />
      <label class="form-check-label" for="public">
        Make public
      </label>
    </div>
  </div>

  <!-- Description input -->
  <p>
    Your description should contain information about e.g. the background of
    your game.
  </p>

  <div class="input-name mb-3">
    <textarea
      class="form-control id {% if description_error %}is-invalid{% endif %}"
      id="description"
      placeholder=" Game description"
      name="description"
      value="{{ description }}"
      rows="4"
    ></textarea>
    <span class="underline-animation"></span>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-outline-dark">
    Create
  </button>
</form>

{% endblock %}
