{% extends "base.html" %} {% block content %}

<form class="p-1 d-flex justify-content-center my-2 mx-auto" method="POST">
  <div class="card card0 p-4 rounded">
    <div class="row flex-grow justify-content-center my-auto">
      <div class="col w-100 m-5">
        <h1 class="mb-5 text-center heading title">Login</h1>
        <h6 class="pl-2 mb-3">Please login to your account</h6>
        <div class="form-group">
          <div class="input-name mb-3">
            <input
              type="text"
              name="username"
              id="username"
              value="{{ username }}"
              placeholder=" Username"
              aria-placeholder="Your username"
              autocomplete="current-username"
              class="form-control id {% if username_error %}is-invalid{% endif %}"
            />
            <span
              class="underline-animation"
              style="max-width: 40rem !important"
            ></span>
            <div class="invalid-feedback">
              The username wasn't found or the password was invalid
            </div>
          </div>
        </div>
        <div class="input-name form-group">
          <input
            type="password"
            name="password"
            id="password"
            value="{{ password }}"
            placeholder=" Password"
            aria-placeholder="Your password"
            autocomplete="current-password"
            class="form-control id"
          />
          <span
            class="underline-animation"
            style="max-width: 40rem !important"
          ></span>
        </div>

        <div class="my-2 form-group">
          <div class="form-check">
            <input
              class="form-check-input {% if cookie_error %}is-invalid{% endif %}"
              type="checkbox"
              name="cookies"
              value="on"
              unchecked
            />
            <label class="form-check-label" for="cookies">
              Allow Authentication Cookies.
              <a href="/content/cookies" class="text-dark">Learn More</a>
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="row justify-content-center my-3 px-3">
          <button class="btn-block btn btn-outline-dark">Login</button>
        </div>
      </div>
    </div>
    <div class="bottom text-center mb-5">
      <a href="/users/register" class="text-sm text-dark mx-auto mb-3">
        Don't have an account?
        <button type="button" class="btn btn-outline-dark btn-sm ml-2">
          Register now
        </button>
      </a>
    </div>
  </div>
</form>

{% endblock %} {% block title %}Login{% endblock %}
