<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pentagame</title>

    <!-- CSS -->
    <link href="/static/css/app.css" rel="stylesheet" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/images/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/static/images/safari-pinned-tab.svg"
      color="#212121"
    />
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Pentagame" />
    <meta name="application-name" content="Pentagame" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/static/images/mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="/static/images/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Meta -->
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- Add based on FQDomain Name <link rel="canonical" href="https://penta-game.github.io/pentagraph/" /> -->
    <meta name="theme-color" content="#212121" />
    <meta property="og:image" content="/static/images/brand.png" />
    <meta property="og:site_name" content="Pentagame Online" />
    <meta property="og:type" content="text/html" />
    <meta name="description" content="Pentagame Online client & Docs" />
    <meta property="og:description" content="Pentagame Online client & Docs" />
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="/static/images/brand.svg"
            alt=""
            width="30"
            height="30"
            class="d-inline-block align-top"
          />
          Pentagame Online
        </a>

        <div class="ml-auto">
          <div class="btn-group ml-auto dropleft">
            <button
              type="button"
              class="btn btn-dark"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user-circle"></i>
            </button>
            <ul class="dropdown-menu dropdown-dark">
              {% match id %} {% when Some with (id) %}
              <li>
                <a class="dropdown-item" href="/users/view/{{ id.id }}">
                  <i class="fas fa-user-alt"></i>
                  Account
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/users/settings">
                  <i class="fas fa-sliders-h"></i>
                  Settings
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="/users/logout">
                  <i class="fas fa-sign-out-alt"></i>
                  Logout
                </a>
              </li>
              {% when None %}
              <li>
                <a class="dropdown-item" href="/users/login">
                  <i class="fas fa-sign-in-alt"></i>
                  Login
                </a>
              </li>
              {% endmatch %}
            </ul>
          </div>
        </div>
      </div>

      {% block navbar_extended %}{% endblock %}
    </nav>

    <!-- Content -->
    <div class="container-fluid bg-light" id="content">
      <div class="container h-100 py-4">
        {% block content -%} {% endblock content -%}
      </div>
    </div>
    <!-- #Content -->

    <!-- Footer -->
    <footer
      id="footer"
      class="page-footer mt-3 font-small bg-dark text-white w-100"
    >
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright
        <a href="https://github.com/Penta-Game/pentagame" class="copyright">
          GPLv3.0 or later
        </a>
        @
        <a href="https://cobalt.rocks/pages/contact/" class="copyright">
          Cobalt
        </a>
        <a class="ml-1 text-white" href="/content/cookies"> - Cookies </a>
      </div>
      <!-- #Copyright -->
    </footer>
    <!-- #Footer -->

    <!-- JS -->
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/dist/main.js"></script>

    <!-- Page specific resources -->
    {% block includes %}{% endblock %}
  </body>
</html>
