/* Sidebar */
$sidebar-width: 15rem;

// colors from https://mdbootstrap.com/docs/standard/content-styles/colors/
// there's been some problems with importing them for me
$dark: #262626;
$darker: darken($dark, 5);
$danger: #f93154;
$warning: #ffa900;
$light: #fbfbfb;
$primary: #1266f1;
$secondary: #b23cfd;
$success: #00b74a;
